# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# Logs
*.log

# Test reports
TEST*.xml
results.xml

# OS files
.DS_Store
Thumbs.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Session files
remmi-e2e-test/sessions/
